body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.styledDiv{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 500px;
  width: 500px;
  justify-content: center;
  align-items: center;
  background-color: brown;
transform: translate(50%, 15%);
clip-path: ellipse();
}